#ant specific
Videojuegos/dist/
Videojuegos/build/
 
#netbeans specific
core
Videojuegos/nbproject/*
Videojuegos/nbproject/project.properties
Videojuegos/nbproject/project.xml
Videojuegos/nbproject/genfiles.properties
Videojuegos/nbproject/build-impl.xml
Videojuegos/nbproject/ant-deploy.xml
 
#java specific
*.class
 
#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

