<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>VideogamesController</servlet-name>
        <servlet-class>controllers.VideogamesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageGamesController</servlet-name>
        <servlet-class>ManageGames.ManageGamesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoansController</servlet-name>
        <servlet-class>Loans.LoansController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>User.StudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>User.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>User.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>controllers.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controllers.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>User.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionsController</servlet-name>
        <servlet-class>TransactionsController.TransactionsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFileServlet</servlet-name>
        <servlet-class>Resources.DownloadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VideogamesController</servlet-name>
        <url-pattern>/videogames</url-pattern>
        <url-pattern>/getvideogames</url-pattern>
        <url-pattern>/getusercredits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ManageGamesController</servlet-name>
        <url-pattern>/managegames</url-pattern>
        <url-pattern>/uploadgame</url-pattern>
        <url-pattern>/updategame</url-pattern>
        <url-pattern>/saveGame</url-pattern>
        <url-pattern>/editGame</url-pattern>
        <url-pattern>/deleteGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoansController</servlet-name>
        <url-pattern>/loanapplications</url-pattern>
        <url-pattern>/approvedloans</url-pattern>
        <url-pattern>/deniedloans</url-pattern>
        <url-pattern>/denyloan</url-pattern>
        <url-pattern>/grantloan</url-pattern>
        <url-pattern>/reapprove</url-pattern>
        <url-pattern>/newSemestre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/registerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/updatestudent</url-pattern>
        <url-pattern>/myaccount</url-pattern>
        <url-pattern>/studentsave</url-pattern>
        <url-pattern>/historysave</url-pattern>
        <url-pattern>/deleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionsController</servlet-name>
        <url-pattern>/transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFileServlet</servlet-name>
        <url-pattern>/DownloadFileServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
