.navbar-default {
    z-index: 10;
    background-color: rgba(165, 156, 244, 0.11);
    border-color: rgba(25,25,25,0.25);

}
#wrap{
    padding-top: 60px;
}

#footer {
	color: #1c9ccd;
	font-weight: bold;
  background-color: rgba(165, 156, 244, 0.11);
  border-color: rgba(25,25,25,0.25);
	width:100%;
	height:60px;
	position:absolute;
	bottom:0;
	left:0;
}


#contacto{
  margin: 1em 2em;
  margin-bottom: 0em;
}



#gamesview{
	position: absolute;	
	top: 0em;
	width: 100%;
	height: 122%;
	background-color: rgba(25,25,25,0.9);
}

#gamesupdate{
	position: relative;
	color:rgb(146, 192, 216); 
	padding-top:5em;
	margin-left: 4em;
	height: 100%;
}
#account{
	position: relative;
	color:rgb(146, 192, 216); 
	padding-top:5em;
	margin-left: 4em;
	height: 100%;
}

#load{
  font-size: 5em;
  display: table;
  margin: 0 auto;
  cursor: pointer;
}
#spinner{
  width: 5em;
  display: table;
  margin: 0 auto;
}

#more{
  width: 3em;
  display: table;
  margin: 0 auto;
  cursor: pointer;
}