/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/03/2015, 01:38:04 PM
    Author     : magdiel
*/

.mi-back{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: 99;
    margin: 0 auto;
    background: rgba(0,0,0,0.6);
    display: block;
    left: 0;
    top: 0;
        
    
}
.form-index{
        color: white;
            width: 420px;
            background: #0B243B;
            border-radius: 10px 0px 10px 10px;
            padding: 20px;
            position: fixed;
            right: 135px;
            top: 50px;
            display:none;
            box-shadow: 0px 0px 29px 0px;
            cursor:pointer;
            z-index:100 !important;
      }
.transparent{
    z-index: 1;
    position:fixed;
    top: 0 ;
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
}
#form-input{
            width: 250px;
            display: inline-block;
            float: right;
}
.event-click{
    padding: 10px;
}
.form-index:hover{
    cursor:pointer;
}
.form-registro {
}
.form-registro td {
    padding: 0px 16px; 
    width: 270px;}
.form-registro .mi-title {
    text-align: center; 
    padding: 10px 10px 20px 10px;
    font-size: 2em;}
.formulario{width:100%; margin: 0 auto; }
.navbar-default .navbar-nav > li > a {cursor:pointer;}
    
#header-login {  
        margin-top: 14px;
        color: #1c9ccd;
        font-weight: bold;
        margin-right: 50px !important;
        display: inline-block;
        font-size: 15px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color:#AD0EBE;                
    }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {   background: none;
        color: #AD0EBE;
    }
#validate-form label.error {
        color: red;
    }
#validate-form label {
     color:rgb(146, 192, 216);
    }
.mi-title{
    color:rgb(146, 192, 216);
    }
#validate-form {margin: 0 auto 30px auto;}
.form-group.asset {margin:0;}
.checkout__button.p-login{right: 68px; display:inline; text-decoration: none;background: #083B56; z-index: 200;
padding: 16px 24px;}
.checkout__button.p-reg{right: 65px; display: inline; text-decoration: none;margin-top: 0px;
background: rgb(8, 59, 86) none repeat scroll 0% 0%;
padding: 17px 15px;}
.checkout__order {right: 160px !important;}

.checkout__order-inner {margin-top: 30px;}
.checkout__button {top: 14px;}
.form-horizontal .control-label {font-size: 1em; color:rgb(28, 156, 205);}
.has-error .help-block {font-size: 0.7em; display: inline-block !important;}
body {background: #0D0C0C !important;}
.navbar-default .navbar-collapse {border-color: transparent;}
.navbar-default {position:relative !important;}
@media (min-width:1024px){
    .dropdown-menu {background: #1D1B25; color:#777; 
    -webkit-box-shadow: 0px 0px 12px 0px rgba(256,256,256,1);
-moz-box-shadow: 0px 0px 12px 0px rgba(256,256,256,1);
box-shadow: 0px 0px 12px 0px rgba(256,256,256,1);}
    .dropdown-menu > li > a {color:#777;}
    .glyphicon {margin: 0 5px}
    .dropdown {right: 65px;}
    .dropdown-menu .divider {display: none;}
    .checkout--active .checkout__close {display:none;}
}
@media (min-width:992px) and (max-width:1023px){
    .checkout--active .checkout__close {display:none;}
    #validate-form {width:100% !important;}
    .grid.isotope.rainbowed.isotope-demo {margin-top: 3%;}
    .dropdown {right: 65px;}
    .dropdown-menu {background: #1D1B25; color:#777; 
    -webkit-box-shadow: 0px 0px 12px 0px rgba(256,256,256,1);
-moz-box-shadow: 0px 0px 12px 0px rgba(256,256,256,1);
box-shadow: 0px 0px 12px 0px rgba(256,256,256,1);}
    .dropdown-menu > li > a {color:#777;}
    .dropdown-menu .divider {display: none;}
    .glyphicon {margin: 0 5px}
}
@media (min-width:768px) and (max-width:991px){
    .checkout--active .checkout__close {display:none;}
    .dropdown {right: 65px;}
    .dropdown-menu {background: #1D1B25; color:#777; 
    -webkit-box-shadow: 0px 0px 12px 0px rgba(256,256,256,1);
-moz-box-shadow: 0px 0px 12px 0px rgba(256,256,256,1);
box-shadow: 0px 0px 12px 0px rgba(256,256,256,1);}
    .dropdown-menu > li > a {color:#777;}
    .dropdown-menu .divider {display: none;}
    .glyphicon {margin: 0 5px}
    #validate-form {width:60% !important;}
    .grid.isotope.rainbowed.isotope-demo {margin-top: 3%;}
    .form-horizontal .control-label {display:inline-block; float: left;}
    .has-feedback .form-control {width: 250px; float: right;}
    .form-control {width:80%; margin: 0 auto;}
    .formulario .form-group label {margin-left: 10%;}
    #pressstart {right: 0; left: 0; margin: 0 auto;}
}
@media (min-width:600px) and (max-width:767px){
    .checkout--active .checkout__close {display:none;}
    .dropdown-menu {background: #1D1B25; color:#fff; 
    -webkit-box-shadow: 0px 0px 12px 0px rgba(256,256,256,1);
-moz-box-shadow: 0px 0px 12px 0px rgba(256,256,256,1);
box-shadow: 0px 0px 12px 0px rgba(256,256,256,1);}
    .dropdown-menu > li > a {color:#fff;}
    .dropdown-menu .divider {display: none;}
    .glyphicon {margin: 0 5px}
    .grid.isotope.rainbowed.isotope-demo {margin-top: 5%;}
    #validate-form {width:60% !important;}
    .checkout__order {margin: 0 auto;}
    .col-md-8 {width:70%; display:inline-block;}
    #pressstart {right: 0 !important; left: 0 !important; margin: 0 auto;}
    .dropdown-menu .divider {display:none; visibility: hidden;}
    .glyphicon {margin: 0 10px;}
    .collapse {display: inline-block; visibility: inherit;}
    //.loadMore {display:none;}
}
@media (min-width:480px) and (max-width:599px){
    .grid.isotope.rainbowed.isotope-demo {margin-top: 10%;}
    .checkout__button.p-login {background: #083B56; padding: 17px 20px;}
    .checkout__button.p-login {right:68px;}
    #validate-form {width:60% !important;}
    .checkout__order {text-align: center !important; 
                      top:180px !important;
                      width:350px !important;
                      margin: 90% 50%;
                      top:0 !important;
                      right: 0 !important;}
    #pressstart {right: 0 !important; left: 0 !important; margin: 0 auto;}
    .dropdown-menu .divider {display:none; visibility: hidden;}
    .glyphicon {margin: 0 10px;}
    .collapse {display: inline-block; visibility: inherit;}
    #bs-example-navbar-collapse-1, .nav.navbar-nav.nav.nav-pills.pull-right, .dropdown.open{width:90%;}
    ul.nav.navbar-nav.nav.nav-pills.pull-right {text-align: center;}
    .nav-pills > li {float:none;}
    .dropdown-menu li {margin-left: 20%;}
    .checkout__close {display: inline-block; position: absolute;}
}
@media (min-width:320px) and (max-width:479px){
    #bs-example-navbar-collapse-1, .nav.navbar-nav.nav.nav-pills.pull-right, .dropdown.open{width:90%;}
    #loginForm .icon {
        top: -15px !important;
        right: 15px !important;
        cursor: pointer !important;
        left: auto;
    }
    .collapse {display: inline-block; visibility: inherit;}
    .grid.isotope.rainbowed.isotope-demo {margin-top: 13%;}
    #validate-form {width:80% !important;}
    .checkout__button.p-login {background: #083B56; padding: 17px 20px;}
    .checkout__button.p-login {right:67px;}
    .checkout__order {text-align: center !important; 
                      top:180px !important;
                      width:350px !important;
                      margin: 90% 4%;
                      top:0 !important;
                      right: 0 !important;}
    #pressstart {right: 0 !important; left: 0 !important; margin: 0 auto;}
    .dropdown-menu .divider {display:none; visibility: hidden;}
    .glyphicon {margin: 0 10px;}
    .dropdown {width: 100%;}
    ul.nav.navbar-nav.nav.nav-pills.pull-right {text-align: center;}
    .dropdown-menu li {margin-left: 5%;}
    .checkout__close {display: inline-block; position: absolute;}
}