/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/03/2015, 01:38:04 PM
    Author     : magdiel
*/
.form-index{
        color: white;
            width: 420px;
            background: #0B243B;
            border-radius: 10px 0px 10px 10px;
            padding: 20px;
            position: fixed;
            right: 135px;
            top: 50px;
            display:none;
            box-shadow: 0px 0px 29px 0px;
            cursor:pointer;
            z-index:100 !important;
      }
.transparent{
    z-index: 1;
    position:fixed;
    top: 0 ;
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
}
#form-input{
            width: 250px;
            display: inline-block;
            float: right;
}
.event-click{
    padding: 10px;
}
.form-index:hover{
    cursor:pointer;
}
.form-registro {
}
.form-registro td {
    padding: 0px 16px; 
    width: 270px;}
.form-registro .mi-title {
    text-align: center; 
    padding: 10px 10px 20px 10px;
    font-size: 2em;}
.formulario{width:100%; margin: 0 auto; }
.navbar-default .navbar-nav > li > a {cursor:pointer;}
    
#header-login {  
        margin-top: 14px;
        color: #1c9ccd;
        font-weight: bold;
        margin-right: 50px !important;
        display: inline-block;
        font-size: 15px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color:#AD0EBE;                
    }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {   background: none;
        color: #AD0EBE;
    }
#validate-form label.error {
        color: red;
        
    }
.mi-title{
    color:rgb(146, 192, 216);
    }
.form-group {margin-bottom: 40px}
#validate-form {width:75%; margin: 0 auto;}