body{  
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: hsla(0, 5%, 5%, 1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to right top, hsla(0, 5%, 15%, 0.5), hsla(0, 5%, 5%, 1));
    background-image: -moz-linear-gradient(to right top, hsla(0, 5%, 15%, 0.5), hsla(0, 5%, 5%, 1));
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(http://fonts.gstatic.com/s/orbitron/v6/HmnHiRzvcnQr8CjBje6GQvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;*/
}

#brandimage{    
    width: 17em;
    padding-top: 0.5em;
}


#brand{
	height: 30px;
}

.navbar-default {
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.42);
	border-color: rgba(0,0,0,0);
	color:#fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #fff;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: #1c9ccd;
	font-weight: bold;
}
.navbar-default .navbar-text {
	color: #1c9ccd;
	font-weight: bold;
}
